<div class="container-fluid">
  <div class="row ">
    <div class=" col-md-4 pt-4 bg-light sidebar">
      <form class="bd-search d-flex align-items-center">
        <input
          type="search"
          class="form-control"
          id="search-input"
          placeholder="Buscar..."
          aria-label="Search for..."
          autocomplete="off"
        />
      </form>

      <nav class=" bd-links" id="bd-docs-nav">
        <ul class="list-group">
          <li
            [class.active]="hovered"
            (mouseover)="hovered = true"
            (mouseout)="hovered = false"
            class="list-group-item"
          >
            Cras justo odio
          </li>
          <li class="list-group-item">Dapibus ac facilisis in</li>
          <li class="list-group-item">Morbi leo risus</li>
          <li class="list-group-item">Porta ac consectetur ac</li>
          <li class="list-group-item">Vestibulum at eros</li>
          <li class="list-group-item">Vestibulum at eros</li>
          <li class="list-group-item">Vestibulum at eros</li>
          <li class="list-group-item">Vestibulum at eros</li>
          <li class="list-group-item">Vestibulum at eros</li>
          <li class="list-group-item">Vestibulum at eros</li>
          <li class="list-group-item">Vestibulum at eros</li>
          <li class="list-group-item">Vestibulum at eros</li>
          <li class="list-group-item">Vestibulum at eros</li>
          <li class="list-group-item">Vestibulum at eros</li>
          <li class="list-group-item">Vestibulum at eros</li>
        </ul>
      </nav>
    </div>
    <div class="col-8">
      <div class="row">
        <div class="col-12">
          <div class="jumbotron text-center">
            <h1 class="display-4">TOTAL: 0.00$</h1>
            <hr />
          </div>
        </div>
        <div class="col-12 ">
          <div class="jumbotron pt-3 pb-0 right-side">
            <h1 class="h5 font-weight-lighter ">Productos:</h1>
            <ul class="list-group products">
              <li class="list-group-item text-white bg-info my-1">
                Producto
                <span class="ml-auto display-4"> 0.00$ </span>
              </li>
              <li class="list-group-item text-white bg-info my-1">
                Producto
                <span class="ml-auto display-4"> 0.00$ </span>
              </li>
              <li class="list-group-item text-white bg-info my-1">
                Producto
                <span class="ml-auto display-4"> 0.00$ </span>
              </li>
              <li class="list-group-item text-white bg-info my-1">
                Producto
                <span class="ml-auto display-4"> 0.00$ </span>
              </li>
              <li class="list-group-item text-white bg-info my-1">
                Producto
                <span class="ml-auto display-4"> 0.00$ </span>
              </li>
            </ul>
            <div class="d-flex justify-content-center my-1">
              <button class="btn btn-primary btn-lg p-3">Confirmar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
