.sidebar {
  max-height: 89.9vh;
}
.bd-links {
  max-height: 79vh;
  overflow: auto;
  scroll-behavior: smooth;
}

.jumbotron {
  box-shadow: none;
}

.products {
  max-height: 37vh;
  overflow: auto;
}

.items:hover {
  color: #fff;
  background-color: #7f7f7f;
  border-color: #7f7f7f;
  cursor: pointer;
}

.right-side {
  max-height: 89.9vh;
  margin-bottom: 0;
}
