<div class="container-fluid">
  <div class="row ">
    <div class=" col-md-4 pt-4 bg-light sidebar">
      <form class="bd-search d-flex align-items-center">
        <input
          type="search"
          class="form-control"
          id="search-input"
          placeholder="Buscar..."
          aria-label="Search for..."
          autocomplete="off"
        />
      </form>

      <nav class=" bd-links" id="bd-docs-nav">
        <ul class="list-group">
          <li
            *ngFor="let product of products"
            class="list-group-item items"
            (click)="onProductClick($event.target.id)"
            id="{{ product.id }}"
          >
            {{ product.nombre }}
          </li>
        </ul>
      </nav>
    </div>
    <div class="col-8">
      <div class="row">
        <div class="col-12">
          <div class="jumbotron text-center">
            <h1 class="display-4">TOTAL: {{ Total }}$</h1>
            <hr />
          </div>
        </div>
        <div class="col-12 ">
          <div class="jumbotron pt-3 pb-0 right-side">
            <h1 class="h5 font-weight-lighter ">Productos:</h1>
            <ul class="list-group products">
              <li
                *ngFor="let product of productsList"
                class="list-group-item text-white bg-info my-1"
                id="{{ product.id }}"
                (click)="deleteFromTheList($event.target.id)"
              >
                {{ product.nombre }}
                <span class="ml-auto display-4"> {{ product.precio }}$ </span>
              </li>
            </ul>
            <div class="d-flex justify-content-center my-1">
              <button class="btn btn-primary btn-lg p-3" (click)="onCheckout()">
                Confirmar
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
