.sidebar {
  max-height: 89.9vh;
}
.bd-links {
  max-height: 79vh;
  overflow: auto;
  scroll-behavior: smooth;
}

.products {
  max-height: 37vh;
  overflow: auto;
}

.right-side {
  max-height: 89.9vh;
  margin-bottom: 0;
}
