<nav
  class="navbar sticky-top navbar-expand-sm navbar-dark bg-dark"
  style="height: 9%;"
>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarTogglerDemo01"
    aria-controls="navbarTogglerDemo01"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <div class="dropdown" *ngIf="!userName">
      <button
        class="btn btn-secondary dropdown-toggle"
        type="button"
        id="dropdownMenuButton"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        Menú
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" routerLink="/signup">Crear Cuenta</a>
        <a class="dropdown-item" routerLink="/login">inicia Sesión</a>
      </div>
    </div>
    <a class="font-weight-light text-white navbar-brand" *ngIf="userName; else"
      >Hola! {{ userName }}</a
    >
    <div
      *ngIf="!storeId; else elseBlock"
      class="navbar-nav mr-auto mt-2 mt-lg-0 ulclass mx-auto"
    >
      <div class="nav-item">
        <a
          [routerLink]="['/inicio']"
          routerLinkActive="active"
          class="nav-link "
          >Inicio</a
        >
      </div>
      <div class="nav-item">
        <a
          class="nav-link"
          [routerLink]="['/ventas']"
          routerLinkActive="active"
          class="nav-link"
        >
          Ventas</a
        >
      </div>
      <div class="nav-item">
        <a
          [routerLink]="['/tiendas']"
          routerLinkActive="active"
          class="nav-link"
          >Tiendas</a
        >
      </div>
      <div class="nav-item"><a class="nav-link">Balance</a></div>
      <div class="nav-item">
        <a
          [routerLink]="['/comunicacion']"
          routerLinkActive="active"
          class="nav-link"
          >Comunicación</a
        >
      </div>
      <div *ngIf="userName" class="nav-item">
        <a (click)="signOut()" class="nav-link">Cerrar Sesión</a>
      </div>
    </div>
    <ng-template #elseBlock>
      <div class="navbar-nav mr-auto mt-2 mt-lg-0 ulclass mx-auto">
        <div class="nav-item">
          <a
            [routerLink]="['/carrito']"
            routerLinkActive="active"
            class="nav-link "
            >Carrito</a
          >
        </div>
        <div class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['/ventas']"
            routerLinkActive="active"
            class="nav-link"
          >
            Ventas</a
          >
        </div>
        <div class="nav-item">
          <a
            [routerLink]="['/inventario']"
            routerLinkActive="active"
            class="nav-link"
            >Inventario</a
          >
        </div>
        <div class="nav-item"><a class="nav-link">Balance</a></div>
        <div class="nav-item">
          <a
            [routerLink]="['/comunicacion']"
            routerLinkActive="active"
            class="nav-link"
            >Comunicación</a
          >
        </div>
        <div *ngIf="userName" class="nav-item">
          <a (click)="signOut()" class="nav-link">Cerrar Sesión</a>
        </div>
      </div>
    </ng-template>
  </div>
</nav>
