.ulclass {
  display: flex;
  justify-content: space-around;
  width: 100%;
  text-align: center;
}

.nav-link {
  border-bottom: 0.25rem solid transparent;
}
.nav-item {
  width: 90%;
  padding: 0.25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.5);
  background-color: transparent;
}

a:hover {
  color: whitesmoke;
  background: rgba(255, 255, 255, 0.014);
  transition-duration: 0.5s;
  border-bottom-color: rgba(255, 255, 255, 0.25);
}
.nav-item:active {
  color: white;
  border-bottom-color: rgba(255, 255, 255, 0.25);
}

.nav-item .active {
  color: #fff;
  border-bottom-color: #fff;
  background: rgba(255, 255, 255, 0.014);
}
